.footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px 5%;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 95%;
        height: 5px;
        background-color: #000;
        left: 50%;
        transform: translateX(-50%);
    }
    .city {
        display: flex;
    }
}