.gamburger-menu-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    z-index: 4;
    pointer-events: none;
    .gamburger-menu {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: flex-end;
        .button {
            pointer-events: auto;
            margin: 20px 5%;
            width: 50px;
            height: 15px;
            position: relative;
            cursor: pointer;
            &:after,
            &:before {
                content: "";
                width: 100%;
                height: 3px;
                position: absolute;
                background-color: #000;
            }
            &:after {
                top: 0;
            }
            &:before {
                bottom: 0;
            }
        }
        .menu {
            pointer-events: auto;
            width: 400px;
            background-color: #ccc;
            height: 100%;
            overflow-y: scroll;
            .search {
                position: relative;
                &__input {
                    width: 100%;
                }
                &__dropdown-list {
                    position: absolute;
                    display: none;
                    background-color: #fff;
                    z-index: 3;
                    &.active {
                        display: block;
                    }
                    li {
                        cursor: pointer;
                    }
                }
            }

            .slider-wrap {
                overflow: hidden;
                .slider {
                    display: flex;
                    width: calc(100% * 2);
                    position: relative;
                    transition: 500ms;
                    &.shift {
                        transform: translateX(-50%);
                    }
                    .day,
                    .hours {
                        display: flex;
                        overflow-x: scroll;
                        width: 100%;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        & > * {
                            pointer-events: none;
                        }
                        &__item {
                            padding: 0 30px;
                        }
                    }
                    .day {
                        &__item {
                            &.yesterday {
                                opacity: 0.5;
                            }
                            &.today {
                                background-color: rgba(red, 0.5);
                            }
                        }
                    }
                }
            }
        }
    }
}
