.hamburger-menu-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    z-index: 4;
    pointer-events: none;
    .hamburger-menu {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: flex-end;
        transition: 300ms;
        right: -1 * $hamburger-menu-width;
        &.active {
            right: 0;
        }
        @import 'hamburger-button';
        .menu {
            pointer-events: auto;
            width: $hamburger-menu-width;
            background-color: #ccc;
            height: 100%;
            overflow-y: scroll;
            position: relative;
            transition: 300ms;
            scrollbar-width: thin;
            @import 'hamburger-search';
            @import 'hamburger-temperature';
            @import 'hamburger-language';
        }
    }
}
